<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='good.css') }}">

<body>
    <div class='table_all'>
        <h1>MVC</h1>
        
        <table = 'table1'>
            <tr>
                <th>Runner ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>Km</th>
                <th>Trophy</th>
            </tr>
            {%for runner in runner_querys%}
            <tr>
                <td>{{runner.ID}}</td>
                <td>{{runner.Firstname}}</td>
                <td>{{runner.Lastname}}</td>
                <td>{{runner.Age}}</td>
                <td>{{runner.Km}}</td>
                <td>{{runner.Trophy}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</body>
</head>
